
h1 {
  color: white;
  font-family: sans-serif}
p {
  color: purple;
  font-family: futura; 
}
div p {
  color: orange;
  text-decoration: underline;
}

.slide {
  background-color:salmon
}

body {
  background-color: lightblue
}