body {
  margin: 30px;
  background-color: white;
}

p {
  font-family: "timesnewroman";
  display: flex;
  justify-content: center;
  color: ;
}

.header {
  font-family: "Baskerville";
  text-align: center;
  border: 3px orange;
  border-style: dotted;
  font-size: 20px;
  color: purple;
}

h3 {
  text-align: center;
  font-size: 16px;
  padding-top: 60px;

  color: orange;
  font-family: "baskerville";
}

h4 {
  text-align: left;
  font-size: 13px;
  color: purple;
  padding-bottom:20px
}

img {
  padding: 50px;
  border: 1px solid orange;
  margin: 50px;
  display: flex;
  justify-content: center;
  align:center
}

li {align: center}

.position-test {
  width: 100px;
  height: 100px;
}
