body {
  margin: 32px;
  background-color: lightblue;
}

p {
  font-family: "futura";
  font-size: 15px;
}

.header {
  font-family: "times new roman";
  text-align: center;
  border: 1px solid white;
}

.image {
  width: 100px;
}
